body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

/* Header y menú horizontal */
.header {
    background-color: #2f6091;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: rgb(152, 164, 236);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

.nav-menu a:hover {
    color: #3498db;
}


.seccion {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #e6e5e5;  
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.seccion p {
  line-height: 1.6;
}

.seccion h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077b6;
}

#sobre-mi {
  display: flex; 
  align-items: center;
  gap: 30px;
  border-radius: 15px;
}

#sobre-mi img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
  border: 3px solid #023c5c;
}

#sobre-mi-texto {
  flex: 1;
}




/* Responsivo (para celulares) */
/* @media (max-width: 768px) {
  .sobre-mi {
    flex-direction: column;
    text-align: center;
  }

  .sobre-mi img {
    margin-bottom: 20px;
  }
} */
